.thumbnail-button {
    border: none;
    background-color: transparent;
    padding: 0;
}

.large-preview {
    width: inherit;
    right: inherit;
    height: inherit;
    margin: inherit;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.large-preview button {
    position: absolute;
    top: 0;
    right: 0;
}