/*

CSS for Fine Uploader UI.  Depends on a matching HTML file.
Maintained by Widen Enterprises.

See the HTML file comments for more details.

*/

.demo-title
{
    text-align: center;
    font-weight: 200;
    margin-top: 0px;
    margin-bottom: 40px;
    color: #00abc7;
    font-size: 36px;
}

.uploader-drop-zone
{
    /* Static height drop zone that also contains the file list, with a border */
    height: 300px;
    border: solid 1px black;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-align: center;

    /* Make the drop zone scollable */
    overflow-y: scroll;
}

LI.file-container
{
    /* Make sure the drop zone text is always at least a little visible */
    opacity: .6;

    /* Rounded file container corners */
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;

    margin: 10px;

    /* Used to un-center the text for each file item,
    otherwise the .uploader-drop-zone text-align style will apply */
    text-align: left;
}

.qq-uploader
{
    margin: 20px 0;
    width: auto;
}

.qq-upload-button
{
    margin-bottom: 10px;

    /* Rounded upload button corners */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.drop-zone-text
{
    /* Vertically & horizontally center the dynamically generated drop zone message
    inside the drop zone & make it a bit presentable */
    position: absolute;
    vertical-align: middle;
    line-height: 300px;
    font-size: 200%;
    width: 100%;
    left: 0;
    color: #cccccc;
}

.file-info
{
    display: inline-block;
    width: 400px;
}

IMG
{
    vertical-align: middle;
}

.signin-button
{
    margin-bottom: 20px;
    display:block;
}

body
{
    background-color: #FEFEFC;
    font-family: 'Maven Pro', sans-serif;
    padding: 40px 0;
}

a
{
    color: #0088CC;
    text-decoration: none;
    font-size: 14px;
}

a:hover
{
    text-decoration: underline;
}

p
{
    font-size: 14px;
}

h2
{
    font-weight: 200;
    margin-bottom: 5px;
    color: #00abc7;
    font-size: 36px;
}

h3
{
    font-weight:300;
    font-size: 24px;
    line-height: 28px;
    color: #00abc7;
}

h4
{
    color: #e65c47;
    font-weight: 300;
}

.wrapper
{
    width: 80%;
    max-width: 1024px;
    margin: 0 auto;
}

.sign-in-buttons
{
    text-align: center;
}

.hero-unit
{
    margin-top:30px;
    padding: 20px 40px;
    line-height: 18px;
}



.footer
{
    padding: 70px 0;
    border-top: 1px solid #e5e5e5;
    background-color: #525252;
    color :#eee;
    position: relative;
    left: 0;
    bottom: 0;
    height: 120px;
    width: 100%;
    margin-top: 60px;
}
.footer p
{
    margin-bottom: 0;
    color: #eee;
}
.footer-links
{
    margin: 10px 0;
}
.footer-links li
{
    display: inline;
    margin-right: 10px;
}
.footer a
{
    color: #66ccdd;
}
.widenIcon
{
    margin: -3px 0px 0px 4px;
}